.svg {
  fill: #2f383a;
  fill-opacity: 0, 5;
  stroke-width: px;
  stroke: #ff6e30;
  stop-opacity: 0.5;
}
.svg:hover {
  fill: #2196f3;
}

:root {
  --header-color: #2196f3;
  --header-text: #212121;
  --main-text: #757575;
  --main-background: #2f303a;
  --footer-main-background: #f5f4fa;
  --footer-text: #ffffff99;
  --bacgraund-color: #ff6e30;
}


.index-wrap{

  position: fixed;
}
.mn-wrap{
  padding-top: 155px;
}



ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  list-style: none;
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  border: px solid;
  border-radius: 10px;
}
.indentific-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--footer-text);
  padding: 0px;
}

.double-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--footer-main-background);
  background-image: url(../img/mmonney.jpg);
  background-repeat: no-repeat;
  padding: 0px;
}
.triple-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--footer-main-background);
  background-image: url(../img/instuments.jpg);
  background-repeat: repeat-y;
  padding: 0px;
}
.wiki-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--header-text);
  background-image: url(../img/wiki.jpg);
  background-repeat: no-repeat;
  padding: 0px;
}
.contact-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--header-text);
  background-image: url(../img/tesla.jpg);
  background-repeat: repeat-y;
  padding: 0px;
}
.contacter-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--header-text);
  background-image: url(../img/win.jpg);
  background-repeat: repeat-y;
  padding: 0px;
}
.shop-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--header-text);
  background-image: url(../img/shoop.jpg);
  background-repeat: repeat-y;
  padding: 0px;
}
.recept-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 35px;
  border-radius: 10px;
  color: var(--header-text);
  background-image: url(../img/maxresdefault.jpg);
  background-repeat: repeat-y;
  padding: 0px;
}
.cont-wrap {
  margin-bottom: 50px;
}
.main-log{
  margin-top: 20px;
  margin-bottom: 30px;
}

.all-div {
  background-image: url(../img/kosm.jpg);
}

.header-link {
  display: flex;
}

.header-line {
  display: flex;
  gap: 40px;
}
.header-text {
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
}
.main-imag {
  border: 4px solid orange;
  border-radius: 10px;
  width: 400px;
  height: 250px;
}

.contacts-images {

  width: 300px;
  height: 400px;
  display: flex;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contacts-link {
  margin-top: 0px;
}

.fot-wrap{
  background-color: var(--header-text);
}

.footer-color {
  color: var(--footer-text);
}

.footer-colorr {
  color: rebeccapurple;
}

.main-structure {
  background-color: aqua;
  width: 550px;
  border-radius: 5px;
  color: #212121;
}

.wiki-href {
  background-color: gold;
}
.footer-images {
  width: 255px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-images {
  display: flex;
}
.footer-colorr {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--bacgraund-color);
  color: var(--footer-text);
  border-radius: 6px;
}
.shop-header {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}
.fot-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  color: var(--footer-text);
  background-color: var(--header-text);
}
.images-link {
  margin-top: 100px;
}
.smail {
  background-color: green;
}
.images-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-btn {
  padding: 20px;
  margin-bottom: 50px;
}
.images-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div11 {
  grid-area: 1 / 1 / 2 / 2;
}
.div22 {
  grid-area: 1 / 2 / 2 / 3;
}
.div33 {
  grid-area: 1 / 3 / 2 / 4;
}
.div44 {
  grid-area: 2 / 1 / 3 / 2;
}
.div55 {
  grid-area: 2 / 2 / 3 / 3;
}
.div66 {
  grid-area: 2 / 3 / 3 / 4;
}
.div77 {
  grid-area: 3 / 1 / 4 / 2;
}
.div88 {
  grid-area: 3 / 2 / 4 / 3;
}
.div99 {
  grid-area: 3 / 3 / 4 / 4;
}
.header-text {
  background-color: var(--footer-text);
  color: var(--header-text);
}
.btn {
  padding: 15px 20px;
  background-color: #2196f3;
}

.foter-text {
  display: flex;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--bacgraund-color);
  color: var(--footer-text);
  border-radius: 6px;
  margin-top: 25px;
}

.fot-wrap {
  display: flex;
}

.questions-img {
  width: 400px;
  height: 250px;
}

.main-imagess {
  border: 4px solid orange;
  border-radius: 10px;
  width: 200px;
  height: 360px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #00000016;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: auto;
  overflow-x: auto;
  width: 528px;
  height: 581px;
  border-radius: 4px;
}

.no-scroll {
  overflow: hidden;
}
.main-btn {
  width: 300px;
  height: 100px;

  background-color: var(--bacgraund-color);
}
.mn-line{
  gap: 25px;
}
.main-a{
color: var(--footer-main-background);
}
.contacts-imagesss{
  width: 250px;
  height: 400px;
}

.maine--text{
  width: 155px;
}

.maine-line{
  margin-bottom: 100px;
  margin-top: 100px;
  gap: 67px;
display: flex;
}

.maine-gift{
  justify-content: center;
  background-position: center;
  padding-bottom: 10px;
  padding-top: 10px;
padding-left: 15px;
padding-right: 10px;
border-radius: 4px;
background-color: aliceblue;
}

.headerr-line{
  margin-top: 95px;
    display: none;
    position: absolute;
}
.mn-link{
  padding: 5px;
  background-color: var(--footer-main-background);
  color: var(--header-color);
}
.header-link:hover .headerr-line{
  display: block;
  color: var(--header-color);
}
.mn-link{

}
.sub-item{
  background-color: var(--footer-main-background);
  width: 150px;
  padding: 5px;

}
.header-link{
  position: relative;
}

.to-top{
  position: absolute;
 margin-left: 400px;
 margin-top: 95px;


  background-position: center;
  padding: 39px;

  color: var(--header-text);
  border-radius: 50px;
  background-color: var(--footer-main-background);
border: 3px solid olive;
}

